---
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import NuestrosProyectos from "../components/NuestrosProyectos.astro";
import DashboardsPersonalizados from "../components/DashboardsPersonalizados.astro";
import Contacto from "../components/Contacto.astro";
const { title = "PDX - Development" } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body class="font-sans">
    <Nav />

    <Hero
      title="Creamos experiencias digitales que impactan"
      subtitle="Creamos experiencias digitales inteligentes: websites, apps y soluciones con IA que llevan tu proyecto al siguiente nivel."
      buttonText="Hablemos de tu proyecto"
      imageSrc="/images/hero.jpg"
    />

    <NuestrosProyectos />
    <DashboardsPersonalizados />
    <Contacto />

    <slot />

<footer class="bg-white border-t border-gray-200">
  <div class="max-w-7xl mx-auto px-6 py-12 text-center">

    <div class="text-lg font-semibold mb-2">
      PDX El Salvador
    </div>

    <p class="text-sm text-gray-400">
      © {new Date().getFullYear()} PDX El Salvador. Todos los derechos reservados.
    </p>

  </div>
</footer>


  </body>
</html>
